:root {
    --xt-fg: var(--fg);
    --xt-bg: var(--bg);
    --xt-font-size: min(16px,calc(2vw + 5px));
}

@media (prefers-color-scheme: dark) {
    :root {
        --xt-fg: var(--green);
        --xt-bg: var(--bg);
    }
}

.intro,
.center,
.notification {
    display: block;
    text-align: center;
}

.intro {
    max-width: 300px;
    margin: 0.5rem auto;
    border: 1px solid var(--borderSolid);
    background-color: var(--bg-light);
}

@media (prefers-color-scheme: dark) {
    .intro {
        background-color: var(--bg-dark);
    }
    .highlight {
        color: var(--cyan);
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.highlight {
    color: var(--fg);
    background-color: var(--bg-light);
    border-radius: 10px;
    padding: 0 0.2rem;
}

.notification {
    opacity: 0.5;
    font-size: medium;
}

fieldset {
    margin: 0.25rem 0;
    border-color: var(--border);
}

fieldset legend {
    color: var(--borderSolid);
}

fieldset legend span {
    color: var(--cyan);
}

.spinner:after {
    animation: animate 0.8s linear infinite;
    content: "⠋";
}

@keyframes animate {
    10% { content: "⠙"; }
    20% { content: "⠹"; }
    30% { content: "⠸"; }
    40% { content: "⠼"; }
    50% { content: "⠴"; }
    60% { content: "⠦"; }
    70% { content: "⠧"; }
    80% { content: "⠇"; }
    90% { content: "⠏"; }
}
